.footer {
    width: 100%;
    height: 100px;
    font-weight: bold;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.footer:hover {
    color: #034D76;
}